[user]
  email = jlobos@outlook.cl
  name = Jesús Lobos

[github]
  user = jlobos

[pull]
  ff = only

[alias]
  # s = status -s
  # nb = !git checkout -b $(random-word)-$(random-word)
  # Amend the currently staged files to the latest commit
  # amend = commit --amend --reuse-message=HEAD
  # Create new brach and switch to it
  # bn = checkout -b
  # List all branches
  # bl = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  # b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

  s = status --short
  l = log --graph --abbrev-commit --all --decorate --pretty=format:'%C(blue)%h%C(reset) · %C(bold green)%cn%C(reset) %C(green)%ar%C(reset) -> %s%C(bold yellow)%d%C(reset)'

  cm = commit --message
  ca = commit --amend --reuse-message=HEAD

  # https://github.com/GitAlias/gitalias/blob/master/gitalias.txt
[init]
	defaultBranch = main
