"
" Maps
"

let mapleader = ','
let g:mapleader = ','

" Fast write and quit
map <leader>w :w!<cr>
map <leader>q :q<cr>

" IntelliJ IDEA / IdeaVim Actions
map <leader>f :action GotoFile<cr>
map <leader>t :action GotoTest<cr>
map <leader>e :action ActivateProjectToolWindow<cr>
map <leader>l :action ActivateLogcatToolWindow<cr>

" Run
map <leader>r :action RunClass<cr>
map <leader>R :action Run<cr>
map <leader>d :action DebugClass<cr>
map <leader>D :action Debug<cr>

" Edit
map <leader>c :action CommentByLineComment<cr>
nmap <unique> <leader>p :action ReformatCode<cr>

"
" 🖤
"

set visualbell              " ┐ Desactivar sonidos
set noerrorbells            " ┘

set clipboard+=unnamedplus  " Compartir el portapales del sistema

" Plugins
set surround
set ideajoin